/** Google fonts (Noto Sanse) **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


h1{
    font-weight: bold;
    line-height: 1.3em!important;
}
h2{
    font-size: 34px;
    font-weight: bold;
}
h3{
    font-size: 22px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Noto Sans", serif;
}
input[type='text'], input[type='number'], input[type='email'], textarea{
    background-color: white;
}

li .active{
    border-bottom: 2px solid white;
}

#admin_ul .active, #tutor_ul .active, #user_ul .active{
    background: rgb(254 202 202);
    border-left: 2px solid rgb(255 68 56);
}