@tailwind base;
@tailwind components;
@tailwind utilities;

/** Google fonts **/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


h1{
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-size: 34px;
    font-weight: bold;
}
h3{
    font-size: 24px;
    font-weight: bold;
}